# Midterm Part 1 (Woosoo Kim)

#### The following materials and tools are allowed: 
1. Lecture materials
2. Laptop

#### The following tools/actions are not allowed: 
1. ChatGPT
2. Web engine search
3. Communicating with anyone
4. Sharing any information about the midterm
5. Phones
6. All communication apps need to be turned off during the exam

## Problem 1
### In Problem 1, we will implement investment strategies using multiple return signals.

#### (1 point) 

#### Bring in the csv file titled `mret.csv`.  Name the Dataframe: `mret`.

In [1]:
import numpy as numpy
import pandas as pd

In [2]:
mret = pd.read_csv('mret.csv')
mret.head(10)

   permno  year  month  shrcd  exchcd       prc       ret  shrout
0   10000  1986      1   10.0     3.0  4.375000       NaN  3680.0
1   10000  1986      2   10.0     3.0  3.250000 -0.257143  3680.0
2   10000  1986      3   10.0     3.0  4.437500  0.365385  3680.0
3   10000  1986      4   10.0     3.0  4.000000 -0.098592  3793.0
4   10000  1986      5   10.0     3.0  3.109375 -0.222656  3793.0
5   10000  1986      6   10.0     3.0  3.093750 -0.005025  3793.0
6   10000  1986      7   10.0     3.0  2.843750 -0.080808  3793.0
7   10000  1986      8   10.0     3.0  1.093750 -0.615385  3793.0
8   10000  1986      9   10.0     3.0  1.031250 -0.057143  3793.0
9   10000  1986     10   10.0     3.0  0.781250 -0.242424  3843.0

#### (1 point) 

#### Keep observations with `shrcd` of 10 or 11 and `exchcd` of 1, 2, or 3.

#### Note that we keep ordinary common shares (shrcd of 10, 11) traded on the NYSE, AMEX, or NASDAQ (exchcd of 1, 2, or 3).

In [3]:
mret = mret[(mret['shrcd'].isin([10, 11])) & mret['exchcd'].isin([1, 2, 3])]

In [4]:
mret['shrcd'].unique()

array([10., 11.])

In [5]:
mret['exchcd'].unique()

array([3., 2., 1.])

#### (1 point) 

#### Using `.apply`, convert the following:
 - `permno` to 5-digit text string

In [6]:
mret['permno'] = mret['permno'].apply('{:0>5}'.format)
mret.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2528627 entries, 0 to 3455712
Data columns (total 8 columns):
 #   Column  Dtype
---  ------  -----
 0   permno  object
 1   year    int64
 2   month   int64
 3   shrcd   float64
 4   exchcd  float64
 5   prc     float64
 6   ret     float64
 7   shrout  float64
dtypes: float64(5), int64(2), object(1)
memory usage: 173.6+ MB

#### (1 point) 

#### Bring in the csv file titled `signal.csv`.  Name the Dataframe: `signal`.

In [7]:
signal = pd.read_csv('signal.csv')
signal.head(10)

,permno,year,month,btm,gprof,atg,pe,momentum,momentum12,seasonality,sir
0,10000,1986,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,10000,1986,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,10000,1986,3,0.042192,-0.032242,NaN,-0.026393,NaN,NaN,NaN,NaN
3,10000,1986,4,0.044054,-0.032242,NaN,-0.028408,NaN,NaN,NaN,NaN
4,10000,1986,5,0.044054,-0.032242,NaN,-0.036544,NaN,NaN,NaN,NaN
5,10000,1986,6,0.039325,0.009177,NaN,-0.069879,-0.289286,NaN,NaN,NaN
6,10000,1986,7,0.039325,0.009177,NaN,-0.076022,-0.292857,NaN,NaN,NaN
7,10000,1986,8,0.039325,0.009177,NaN,-0.197657,-0.350000,NaN,NaN,NaN
8,10000,1986,9,0.027096,0.010480,NaN,-0.220630,-0.663462,NaN,NaN,NaN
9,10000,1986,10,0.027096,0.010480,NaN,-0.287442,-0.767606,NaN,NaN,NaN

#### (1 point) 

#### Using `.apply`, convert the following:
 - `permno` to 5-digit text string

In [8]:
signal['permno'] = signal['permno'].apply('{:0>5}'.format)
signal.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5122683 entries, 0 to 5122682
Data columns (total 11 columns):
 #   Column       Dtype
---  ------       -----
 0   permno       object
 1   year         int64
 2   month        int64
 3   btm          float64
 4   gprof        float64
 5   atg          float64
 6   pe           float64
 7   momentum     float64
 8   momentum12   float64
 9   seasonality  float64
 10  sir          float64
dtypes: float64(8), int64(2), object(1)
memory usage: 429.9+ MB

#### (1 point) 

#### Create one-month-lagged variables for `btm`,  `gprof`, `atg`, `pe`, `momentum`, `momentum12`, `seasonality`, `sir`.  

#### No need to worry about the difference between dates as there are no 'gaps' between dates. 

#### Note that we must use lagged variables to form portfolios in order to avoid look-ahead bias.

In [9]:
col_list = ['btm',  'gprof', 'atg', 'pe', 'momentum', 'momentum12', 'seasonality', 'sir']

for col in col_list:
    signal[col+'_lag1'] = signal.groupby('permno')[col].shift(1)

signal.head(10)

,permno,year,month,btm,gprof,atg,pe,momentum,momentum12,seasonality,sir,btm_lag1,gprof_lag1,atg_lag1,pe_lag1,momentum_lag1,momentum12_lag1,seasonality_lag1,sir_lag1
0,10000,1986,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,10000,1986,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,10000,1986,3,0.042192,-0.032242,NaN,-0.026393,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,10000,1986,4,0.044054,-0.032242,NaN,-0.028408,NaN,NaN,NaN,NaN,0.042192,-0.032242,NaN,-0.026393,NaN,NaN,NaN,NaN
4,10000,1986,5,0.044054,-0.032242,NaN,-0.036544,NaN,NaN,NaN,NaN,0.044054,-0.032242,NaN,-0.028408,NaN,NaN,NaN,NaN
5,10000,1986,6,0.039325,0.009177,NaN,-0.069879,-0.289286,NaN,NaN,NaN,0.044054,-0.032242,NaN,-0.036544,NaN,NaN,NaN,NaN
6,10000,1986,7,0.039325,0.009177,NaN,-0.076022,-0.292857,NaN,NaN,NaN,0.039325,0.009177,NaN,-0.069879,-0.289286,NaN,NaN,NaN
7,10000,1986,8,0.039325,0.009177,NaN,-0.197657,-0.350000,NaN,NaN,NaN,0.039325,0.009177,NaN,-0.076022,-0.292857,NaN,NaN,NaN
8,10000,1986,9,0.027096,0.010480,NaN,-0.220630,-0.663462,NaN,NaN,NaN,0.039325,0.009177,NaN,-0.197657,-0.350000,NaN,NaN,NaN
9,10000,1986,10,0.027096,0.010480,NaN,-0.287442,-0.767606,NaN,NaN,NaN,0.027096,0.010480,NaN,-0.220630,-0.663462,NaN,NaN,NaN

#### (2 points) 

#### Merge `mret` together with `signal`.  Name the resulting DataFrame, `merged`. 

#### Criteria:
 - left join (mret is the left dataframe)
 - bring only lagged variables from `signal`

In [10]:
merged = pd.merge(
    mret, 
    signal[['permno', 'year', 'month', 'btm_lag1', 'gprof_lag1', 'atg_lag1', 'pe_lag1', 
           'momentum_lag1', 'momentum12_lag1', 'seasonality_lag1', 'sir_lag1']],
    how='left',
    on=['permno', 'year', 'month']
    )

merged.head(10)

,permno,year,month,shrcd,exchcd,prc,ret,shrout,btm_lag1,gprof_lag1,atg_lag1,pe_lag1,momentum_lag1,momentum12_lag1,seasonality_lag1,sir_lag1
0,10000,1986,1,10.0,3.0,4.375000,NaN,3680.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,10000,1986,2,10.0,3.0,3.250000,-0.257143,3680.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,10000,1986,3,10.0,3.0,4.437500,0.365385,3680.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,10000,1986,4,10.0,3.0,4.000000,-0.098592,3793.0,0.042192,-0.032242,NaN,-0.026393,NaN,NaN,NaN,NaN
4,10000,1986,5,10.0,3.0,3.109375,-0.222656,3793.0,0.044054,-0.032242,NaN,-0.028408,NaN,NaN,NaN,NaN
5,10000,1986,6,10.0,3.0,3.093750,-0.005025,3793.0,0.044054,-0.032242,NaN,-0.036544,NaN,NaN,NaN,NaN
6,10000,1986,7,10.0,3.0,2.843750,-0.080808,3793.0,0.039325,0.009177,NaN,-0.069879,-0.289286,NaN,NaN,NaN
7,10000,1986,8,10.0,3.0,1.093750,-0.615385,3793.0,0.039325,0.009177,NaN,-0.076022,-0.292857,NaN,NaN,NaN
8,10000,1986,9,10.0,3.0,1.031250,-0.057143,3793.0,0.039325,0.009177,NaN,-0.197657,-0.350000,NaN,NaN,NaN
9,10000,1986,10,10.0,3.0,0.781250,-0.242424,3843.0,0.027096,0.010480,NaN,-0.220630,-0.663462,NaN,NaN,NaN

In [11]:
merged.info(show_counts=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2528627 entries, 0 to 2528626
Data columns (total 16 columns):
 #   Column            Non-Null Count    Dtype
---  ------            --------------    -----
 0   permno            2528627 non-null  object
 1   year              2528627 non-null  int64
 2   month             2528627 non-null  int64
 3   shrcd             2528627 non-null  float64
 4   exchcd            2528627 non-null  float64
 5   prc               2505593 non-null  float64
 6   ret               2487506 non-null  float64
 7   shrout            2525617 non-null  float64
 8   btm_lag1          2259978 non-null  float64
 9   gprof_lag1        2309494 non-null  float64
 10  atg_lag1          2247616 non-null  float64
 11  pe_lag1           2296463 non-null  float64
 12  momentum_lag1     2420242 non-null  float64
 13  momentum12_lag1   2320970 non-null  float64
 14  seasonality_lag1  1626909 non-null  float64
 15  sir_lag1          1220587 non-null  float64
dtypes: float64(13), int64(2), object(1)
memory usage: 308.7+ MB

#### (5 points) 

#### For each lagged variable, rank it into quintiles within each month.

In [12]:
col_list = ['btm',  'gprof', 'atg', 'pe', 'momentum', 'momentum12', 'seasonality', 'sir']

for col in col_list:
    merged[col+'_lag1_rank'] = merged.groupby(['year', 'month'])[col+'_lag1'].transform(lambda x: pd.qcut(x, 5, labels=False)+1)

merged.head(10)

,permno,year,month,shrcd,exchcd,prc,ret,shrout,btm_lag1,gprof_lag1,...,seasonality_lag1,sir_lag1,btm_lag1_rank,gprof_lag1_rank,atg_lag1_rank,pe_lag1_rank,momentum_lag1_rank,momentum12_lag1_rank,seasonality_lag1_rank,sir_lag1_rank
0,10000,1986,1,10.0,3.0,4.375000,NaN,3680.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,10000,1986,2,10.0,3.0,3.250000,-0.257143,3680.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,10000,1986,3,10.0,3.0,4.437500,0.365385,3680.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,10000,1986,4,10.0,3.0,4.000000,-0.098592,3793.0,0.042192,-0.032242,...,NaN,NaN,1.0,1.0,NaN,1.0,NaN,NaN,NaN,NaN
4,10000,1986,5,10.0,3.0,3.109375,-0.222656,3793.0,0.044054,-0.032242,...,NaN,NaN,1.0,1.0,NaN,1.0,NaN,NaN,NaN,NaN
5,10000,1986,6,10.0,3.0,3.093750,-0.005025,3793.0,0.044054,-0.032242,...,NaN,NaN,1.0,1.0,NaN,1.0,NaN,NaN,NaN,NaN
6,10000,1986,7,10.0,3.0,2.843750,-0.080808,3793.0,0.039325,0.009177,...,NaN,NaN,1.0,1.0,NaN,1.0,1.0,NaN,NaN,NaN
7,10000,1986,8,10.0,3.0,1.093750,-0.615385,3793.0,0.039325,0.009177,...,NaN,NaN,1.0,1.0,NaN,1.0,1.0,NaN,NaN,NaN
8,10000,1986,9,10.0,3.0,1.031250,-0.057143,3793.0,0.039325,0.009177,...,NaN,NaN,1.0,1.0,NaN,1.0,1.0,NaN,NaN,NaN
9,10000,1986,10,10.0,3.0,0.781250,-0.242424,3843.0,0.027096,0.010480,...,NaN,NaN,1.0,1.0,NaN,1.0,1.0,NaN,NaN,NaN

#### (5 points) 

#### Construct 5 portfolios based on the quantiles of each lagged variable. 

#### In other words, calculate the average returns of all firms corresponding to each quintile in each month.

#### Note that each portfolio should have 480 monthly return observations from January 1980 to December 2019.

#### Note that you should construct 5 portfolios for each lagged variable constructed in the previous question. 

#### In other words, you should end up having 5 $\times$ 8 $=$ 40 portfolios.

In [13]:
col_list = ['btm',  'gprof', 'atg', 'pe', 'momentum', 'momentum12', 'seasonality', 'sir']

dfs = []

for col in col_list:
    for rank in [1, 2, 3, 4, 5]:
        df = merged[merged[col+'_lag1_rank']==rank].groupby(['year', 'month'], as_index=False)['ret'].mean()
        df['signal'] = col
        df['rank'] = rank
        dfs.append(df)

result = pd.concat(dfs, axis=0, ignore_index=True)

result.head(10)

   year  month       ret signal  rank
0  1980      1  0.142807    btm     1
1  1980      2  0.026293    btm     1
2  1980      3 -0.220382    btm     1
3  1980      4  0.060936    btm     1
4  1980      5  0.069421    btm     1
5  1980      6  0.055586    btm     1
6  1980      7  0.109985    btm     1
7  1980      8  0.100160    btm     1
8  1980      9  0.078473    btm     1
9  1980     10  0.081658    btm     1

In [14]:
# The number of monthly return data is 480 * 5 * 8 = 19,200
result.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19200 entries, 0 to 19199
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   year    19200 non-null  int64
 1   month   19200 non-null  int64
 2   ret     19200 non-null  float64
 3   signal  19200 non-null  object
 4   rank    19200 non-null  int64
dtypes: float64(1), int64(3), object(1)
memory usage: 750.1+ KB

#### (1 point) 

#### Show the average return (from January 1980 to December 2019) of 5 potfolios formed by `btm_lag1`. 

#### What is the difference between the returns of the highest quintile portfolio and the lowest quintile portfolio?

In [15]:
result_btm = result[result['signal'] =='btm'].groupby('rank')['ret'].mean()
result_btm

rank
1    0.006474
2    0.009574
3    0.011290
4    0.013195
5    0.017475
Name: ret, dtype: float64

In [16]:
result_btm.loc[5] - result_btm.loc[1]

np.float64(0.011001183414435432)

#### (1 point) 

#### Show the average return (from January 1980 to December 2019) of 5 potfolios formed by `gprof_lag1`. 

#### What is the difference between the returns of the highest quintile portfolio and the lowest quintile portfolio?

In [17]:
result_gprof = result[result['signal'] =='gprof'].groupby('rank')['ret'].mean()
result_gprof

rank
1    0.008366
2    0.009655
3    0.010706
4    0.013250
5    0.016060
Name: ret, dtype: float64

In [18]:
result_gprof.loc[5] - result_gprof.loc[1]

np.float64(0.007693618626938868)

#### (1 point) 

#### Show the average return (from January 1980 to December 2019) of 5 potfolios formed by `atg_lag1`. 

#### What is the difference between the returns of the highest quintile portfolio and the lowest quintile portfolio?

In [19]:
result_atg = result[result['signal'] =='atg'].groupby('rank')['ret'].mean()
result_atg

rank
1    0.005411
2    0.011911
3    0.012977
4    0.013898
5    0.014425
Name: ret, dtype: float64

In [20]:
result_atg.loc[5] - result_atg.loc[1]

np.float64(0.009013838511052799)

#### (1 point) 

#### Show the average return (from January 1980 to December 2019) of 5 potfolios formed by `momentum_lag1`. 

#### What is the difference between the returns of the highest quintile portfolio and the lowest quintile portfolio?

In [21]:
result_momentum = result[result['signal'] =='momentum'].groupby('rank')['ret'].mean()
result_momentum

rank
1    0.009221
2    0.010082
3    0.011800
4    0.012152
5    0.014318
Name: ret, dtype: float64

In [22]:
result_momentum.loc[5] - result_momentum.loc[1]

np.float64(0.005096839050081759)

#### (1 point) 

#### Show the average return (from January 1980 to December 2019) of 5 potfolios formed by `momentum12_lag1`. 

#### What is the difference between the returns of the highest quintile portfolio and the lowest quintile portfolio?

In [23]:
result_momentum12 = result[result['signal'] =='momentum12'].groupby('rank')['ret'].mean()
result_momentum12

rank
1    0.009375
2    0.009991
3    0.011830
4    0.013420
5    0.014597
Name: ret, dtype: float64

In [24]:
result_momentum12.loc[5] - result_momentum12.loc[1]

np.float64(0.005222157504818768)

#### (1 point) 

#### Show the average return (from January 1980 to December 2019) of 5 potfolios formed by `seasonality_lag1`. 

#### What is the difference between the returns of the highest quintile portfolio and the lowest quintile portfolio?

In [25]:
result_seasonality = result[result['signal'] =='seasonality'].groupby('rank')['ret'].mean()
result_seasonality

rank
1    0.009547
2    0.011659
3    0.012961
4    0.014473
5    0.016223
Name: ret, dtype: float64

In [26]:
result_seasonality.loc[5] - result_seasonality.loc[1]

np.float64(0.006675269762571415)

#### (1 point) 

#### Show the average return (from January 1980 to December 2019) of 5 potfolios formed by `sir_lag1`. 

#### What is the difference between the returns of the highest quintile portfolio and the lowest quintile portfolio?

In [27]:
result_sir = result[result['signal'] =='sir'].groupby('rank')['ret'].mean()
result_sir

rank
1    0.002079
2    0.010458
3    0.012913
4    0.013845
5    0.015080
Name: ret, dtype: float64

In [28]:
result_sir.loc[5] - result_sir.loc[1]

np.float64(0.013001458164716763)