# Homework 1 (Woosoo Kim)

1. Create a new variable called `ten` that is the sum of 4+6

In [1]:
ten = 4 + 6
ten

10

2. Create another new variable called `fifty` that is 200 divided by 4.

In [2]:
fifty = 200 / 4
fifty

50.0

3. Create yet another variable called `fivehundred` that is the product of the two prior variables.

In [3]:
fivehundred = ten * fifty
fivehundred

500.0

4. Create a comparison that is "False" between these two variables: `ten` and `fivehundred`

In [4]:
ten > fivehundred

False

5. Convert `ten` into the data type $float$; convert `fifty` into the data type $int$

In [5]:
ten = float(ten)
type(ten)

float

In [6]:
fifty = int(fifty)
type(fifty)

int

6. Create a string named `mfin290` with the words "programming and data analysis for business"

In [7]:
mfin290 = 'programing and data analysis for business'
mfin290

'programing and data analysis for business'

7. Create a list containing `Jessica` and `Mike`.  Name the list `names`.

In [8]:
names = ['Jessica', 'Mike']
names

['Jessica', 'Mike']

8. Add the name, `Byungwook`, to `names`

In [9]:
names.append('Byungwook')
names

['Jessica', 'Mike', 'Byungwook']

9. Insert the name, Phoebe, into `names` in the second position

In [10]:
names.insert(1, 'Phoebe')
names

['Jessica', 'Phoebe', 'Mike', 'Byungwook']

10. Create a variable that is the length of `names`. Print it.

In [11]:
length = len(names)
print(length)

4

11. Create a dictionary with stock tickers and the numbers of shares as we did in class: MSFT-200, GOOGL-40, TSLA-20. Name the dictionary, `shares`.

In [12]:
shares = {'MSFT':200, 'GOOGL':40, 'TSLA':20}
shares

{'MSFT': 200, 'GOOGL': 40, 'TSLA': 20}

11. Add a new ticker and the number of shares you want to buy.

In [13]:
shares.update({'NVDA':100})
shares

{'MSFT': 200, 'GOOGL': 40, 'TSLA': 20, 'NVDA': 100}

12. Make a copy of that dictionary and name it `shares2`

In [14]:
shares2 = shares.copy()

13. Create a list called `tickers` of the following tickers: JNJ, MRK, PFE, ABT, AMGN, ABBV, LLY, BMY

In [15]:
tickers = ['JNJ', 'MRK', 'PFE', 'ABT', 'AMGN', 'ABBV', 'LLY', 'BMY']
tickers

['JNJ', 'MRK', 'PFE', 'ABT', 'AMGN', 'ABBV', 'LLY', 'BMY']

14. Control flows - Create a new object, `i`, equal to any stock ticker.  You choose your favorite ticker.

Then, create an if/then test for if `i` is not in the list, `tickers`, append `i` to `tickers

In [16]:
i = 'INTC'
if i not in tickers:
    tickers.append(i)
tickers

['JNJ', 'MRK', 'PFE', 'ABT', 'AMGN', 'ABBV', 'LLY', 'BMY', 'INTC']

15. For loops -  Create a list of the first five prime numbers called `prime`. Create an empty list called `prime10`.

Create a 'for loop,' in which you add 10 to each element in `prime`.  Save the output to a new list, `prime10`.

In [17]:
prime = [2, 3, 5, 7, 11]
prime10 = []
prime = [i + 10 for i in prime]
prime10 = prime
prime10

[12, 13, 15, 17, 21]

16. Using the `while` statement, generate a list containing the first 10 Fibonacci numbers. Start from the list below.

In [18]:
fibonacci = [0, 1]
while len(fibonacci) < 10:
    fibonacci.append(fibonacci[-1] + fibonacci[-2])
fibonacci

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]