# 1. Understanding Data Types in Python

## 1-1. Creating Arrays from Scratch

In [1]:
import numpy as np

In [2]:
np.array([range(i, i+3) for i in [1, 4, 7]])

array([[1, 2, 3],
       [4, 5, 6],
       [7, 8, 9]])

In [3]:
np.zeros(10, dtype=int)

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0])

In [4]:
np.ones((3, 5), dtype=float)

array([[1., 1., 1., 1., 1.],
       [1., 1., 1., 1., 1.],
       [1., 1., 1., 1., 1.]])

In [5]:
np.full((3, 5), 3.14)

array([[3.14, 3.14, 3.14, 3.14, 3.14],
       [3.14, 3.14, 3.14, 3.14, 3.14],
       [3.14, 3.14, 3.14, 3.14, 3.14]])

In [6]:
np.arange(0, 20, 2)

array([ 0,  2,  4,  6,  8, 10, 12, 14, 16, 18])

In [7]:
np.linspace(0, 1, 5)

array([0.  , 0.25, 0.5 , 0.75, 1.  ])

In [8]:
np.random.random((3, 3))

array([[0.99802308, 0.54526766, 0.89666279],
       [0.55902959, 0.25986962, 0.23152131],
       [0.46823057, 0.20578414, 0.55025471]])

In [9]:
np.random.normal(0, 1, (3, 3))

array([[ 1.70412601, -2.12027327,  0.20663713],
       [-0.10366972,  1.53159539,  0.62301925],
       [-0.56859874, -1.19203369, -1.37150474]])

In [10]:
np.random.randint(0, 10, (3, 3))

array([[7, 3, 2],
       [6, 4, 4],
       [2, 6, 0]])

In [11]:
np.eye(3)

array([[1., 0., 0.],
       [0., 1., 0.],
       [0., 0., 1.]])

In [12]:
np.empty(3)

array([1., 1., 1.])